*.gradle
*.txt
*.cfg
android/build/gradle.properties
android/build/config.gradle
android/build/build.gradle
.mono/
export_presets.cfg
*.txt
.mono/assemblies/Debug/api_hash_cache.cfg
.mono/metadata/scripts_metadata.debug
.mono/metadata/scripts_metadata.editor
.mono/metadata/scripts_metadata.editor_player
.mono/temp/bin/Debug/Idle Printer.dll
.mono/temp/bin/Debug/Idle Printer.pdb
.mono/temp/bin/ExportDebug/Idle Printer.dll
.mono/temp/bin/ExportDebug/Idle Printer.pdb
.mono/temp/obj/Debug/Idle Printer.csproj.CoreCompileInputs.cache
.mono/temp/obj/Debug/Idle Printer.csprojAssemblyReference.cache
.mono/temp/obj/Debug/Idle Printer.dll
.mono/temp/obj/Debug/Idle Printer.pdb
.mono/temp/obj/ExportDebug/Idle Printer.csproj.CoreCompileInputs.cache
.mono/temp/obj/ExportDebug/Idle Printer.csprojAssemblyReference.cache
.mono/temp/obj/ExportDebug/Idle Printer.dll
.mono/temp/obj/ExportDebug/Idle Printer.pdb
export_presets.cfg
.mono/assemblies/Debug/api_hash_cache.cfg
.mono/assemblies/Debug/api_hash_cache.cfg
.mono/assemblies/Debug/GodotSharp.xml
.mono/assemblies/Debug/GodotSharpEditor.xml
.mono/metadata/scripts_metadata.editor
.mono/metadata/scripts_metadata.editor_player
.mono/temp/bin/Debug/Idle Printer.dll
.mono/temp/bin/Debug/Idle Printer.pdb
.mono/temp/obj/Debug/Idle Printer.csproj.CoreCompileInputs.cache
.mono/temp/obj/Debug/Idle Printer.csprojAssemblyReference.cache
.mono/temp/obj/Debug/Idle Printer.dll
.mono/temp/obj/Debug/Idle Printer.pdb
